main {
    background: linear-gradient(rgb(41, 1, 134), rgb(7, 1, 94));
}

.cart-section {
    display: flex;
    gap: 40px;
    padding: 40px;
    color: white;
}

#cart-items {
    flex: 2; /* takes 2/3 of the space*/ 
    display: flex;
    flex-direction: column;
}

#cart-items h2{
    text-align: center;
    font-size: 48px;
    font-style: bold;
}

.item-info {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;    
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #13132b;
}

.item-info img {
    flex-shrink: 0; /*prevents image for squishing*/
    width: 150px;
}

.item-text {
    margin-left: 40px;
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    
}

.item-text h3 {
    width: 200px;
}

.remove-btn {
    width: fit-content;
    padding: 12px 20px;
    font-size: 1rem;
    cursor: pointer;
    color: white;
}


#cart-summary {
    flex: 1; /* takes 1/3 of the space*/ 
    background-color: #131313;
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    position: sticky;
    text-align: center;
}

#cart-summary button {
    display: block;
    width: 100%;
    padding: 14px;
    text-align: center;
    margin-top: 15px;
    border-radius: 8px;
    background-color: #7a00ff;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover {
    color: green;
}


