main {
    background: linear-gradient(rgb(76, 0, 255), rgb(7, 1, 94));
}

.products-list {
    padding: 60px 40px;
    color: #ffffff;
}

.products-list {
    color: #ffffff;
    flex: 1; /* add this so it takes remaining space */
}

.products-list p {
    font-size: 18px;
}

#product-list-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    margin-top: 40px;
    background-color: #13132b;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h3, .product-card p{
    font-size: 16px;
    text-align: center;
}

.product-card a {
    background-color: #7c3aed;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    margin-top: auto;
}

.products-page {
    display: flex;
    gap: 30px;
    padding: 40px;
}

.filter-bar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 450px;
    flex-shrink: 0;
    background-color: #2d0166;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
}

.filter-bar select, .filter-bar input {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #0a0a1a;
    color: white;
}

#price-label {
    color: white;
}